<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block titulo%}{%endblock%} - DEMO FLASK PATIO DE JUEGOS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/patio.css') }}" type="text/css">
</head>
<body>
    <div class="contenedor">
        <div class="titulo"><h1>Welcome to Patio de Comidas!</h1></div>
        <div class="cont_cajas">
        {%block contenido%}
        {%endblock%}
         </div>
     </div>
</body>
</html>